*{
    background-color: white;
}

.form{
    border: 1pt solid black;
}
.h-head{
   text-align: center;
    margin-top: -27px;
    padding-top: -16px;
   
}


.inp{
    font-weight: 600;
}

.im{
   height: 120px;
   text-align: center;
   padding-top: 120px;
   border: 1px dashed rgba(150, 147, 147, 0.4);
   border-radius: 1%;
}

.t{
    font-weight: 500;
}
.reset{
    background-color: rgba(236, 234, 234, 0.7);
    border-radius: 4px;
    width: 69px;
    height: auto;
    font-size: smaller;
    padding: 9px;
}

.submit{
    background-color: black;
    color: white;
    align-items: end;
    padding: 8px;
    border-radius: 4px;
    width: auto;
    height: auto;
    font-size: smaller;
    padding-left: 16px;
    padding-right : 16px;

}
.cat{
    font-weight: 500;
    border-color: red;
}


form{
    border:1px solid rgb(219, 219, 219);
    box-shadow:  0px 1px 3px rgb(211, 211, 211);
    width: 67%;
    margin: auto;
}

input[type='text']{ 
    border: 1px solid rgba(119,119,119,0.4);
    border-radius: 4px;
    outline: none;
    height: 40px;
    
   
}

input[type='date']{
    border: 1px solid rgba(119,119,119,0.4);
    border-radius: 4px;
    height: 40px;
}

input[type='email']{
    border: 1px solid rgba(119,119,119,0.4);
    border-radius: 4px;
    height: 40px;
}

input[type='time']{
    border: 1px solid rgba(119,119,119,0.4);
    border-radius: 4px;
    height: 40px;
}

input[type='file']{
    align-items: center;
    width: 101px;
}
#sum, #summ{
     border: 1px solid rgba(119,119,119,0.4);
    border-radius: 4px;

}

#pet-select {
    width: 100%; 
    border: 1px solid rgba(119,119,119,0.4);
    height: 40px;
    border-radius: 4px;
}

.dropdown {
    width: 100%;
}


.terms{
    margin-bottom: -37px;
    padding-bottom: -14px;
}
  

.thumbnail{
    height: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
  

.dragbutton{
    background-image: url();
    background-size: contain;
    border: none;
    cursor: pointer;
    border: 1pt solid red;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  color: #0d0d0e;
  border-radius: 20px;
  margin: 3px;
  font-size: 14px;
}

.tag .btn-close {
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #030202;
  background-color: red;
}


